.input {
  display: flex;
  flex-direction: column;
}

.input-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.675rem;
  height: 20px;
}

.input-empty {
  color: #ef4444;
  display: none;
  padding: 4px;
}

.input-empty.empty {
  display: block;
}

.input-field {
  border: 1px solid #1f2937;
  font-size: 0.75rem;
  width: 100%;
  outline: none;
  padding: 12px;
}

.input-field.focused {
  border: 1px solid #60a5fa;
}

.input-field.empty {
  border: 1px solid #ef4444;
}

.input-field.invalid {
  border: 1px solid #ef4444;
}

.input-invalid {
  color: #f87171;
  display: none;
  font-size: 0.675rem;
  margin-top: 4px;
}

.input-invalid.invalid {
  display: block;
}
